*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    font-family: "Silkscreen";
}

.container{
    max-width: 1000px;
    margin: 50px auto;
    height: 100%;
    padding: 0 20px;
    box-sizing: content-box;
    padding-top: 80px;
}

@mixin btn-style($color){
    background-color: $color;
    color: #a19a9a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
};


.button{
    @include btn-style("light");

    &--dark{
        @include btn-style("dark");
    }
    &:hover{
        background-color: rgba(23, 23, 23, 0.936);
    }
    &:active{
        transform: scale(0.95);
    }
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 20px 0;
    gap: 20px 0px;

    input, select{
        text-indent: 10px;
        height: 30px;
        border: 2px solid #2009ef;
        border-radius: 5px;
        outline: none;

        &:focus{
            box-shadow: (0px 0px 0px 3px #0000005d);
        }
    }
}

.add-room-form{
    display: none;
}

.show{
    display: flex;
}
